---
title: Synergy with Cell and Gene Therapy
layout: two-columns-left-nav
---

%h1= current_resource.data.title

%p What is cell and gene therapy, and how does <strong>immune engineering</strong> make a positive impact?

%p 
  Cell therapy is the administration of whole live cells, with or without a biomaterial carrier, to a patient, and gene therapy is modification of a patient’s genes using molecular biology tools, including synthetic DNA or mRNA-loaded carriers and gene editing tools like CRISPR/Cas9. 

%p 
  These two strategies can also be combined to genetically engineer live cell therapies, such as CAR T cells. Immune Engineering tools are being used to enhance these strategies by mitigating adverse immune responses and enhancing effectiveness of immune cell therapies.

%table
  %colgroup
    %col{width: "45%"}
    %col{width: "10%"}
    %col{width: "45%"}
  %thead
    %tr
      %th
        Cell and Gene Therapy
      %th
      %th
        Immune Engineering
  %tbody
    %tr
      %td
        %strong Cell Therapy: 
        administration of live donor cells to a patient
      %td.text-center
        +
      %td
        Prevents rejection of donor cells
    %tr
      %td
        %strong Gene Therapy: 
        modification of a patient’s genes using molecular biology tools
      %td.text-center
        +
      %td
        Minimizes adverse immune system response
    %tr
      %td
        %strong Cell and Gene Therapy: 
        administration of genetically modified cells to a patient. Includes “engineered immune cells”
      %td.text-center
        +
      %td
        Fine-tunes minimizing side effects, reduce variability, and increase potency for hard-to-treat conditions
%br
%br

.text-center
  =image_tag "synergy-with-cell-and-gene-therapy.png", alt: "Synergy Diagram", style: "max-width: 480px; height: auto;"
  %br
  %br
  %p Together, Cell and Gene Therapy with <a href="../immune-engineering">Immune Engineering</a> results in:
  %li Genetically engineered cells
  %li Nanoparticles to control immune cell behavior
  %li Use of donor cells without immuneosuppresion
  %li Strategies to avoid rejection of gene therapies

