---
title: Synergy with Cell and Gene Therapy
---

%h1= current_resource.data.title

%p What is cell and gene therapy, and how does immune engineering make a positive impact?

%table
  %colgroup
    %col{width: "45%"}
    %col{width: "10%"}
    %col{width: "45%"}
  %thead
    %tr
      %th
        Cell and Gene Therapy
      %th
      %th
        Impact of Immune Engineering
  %tbody
    %tr
      %td
        %strong Cell Therapy: 
        administers live donor cells to a patient
      %td
        &rarr;
      %td
        Prevents rejection of donor cells
    %tr
      %td
        %strong Gene Therapy: 
        modifies a patient’s genes using molecular biology tools
      %td
        &rarr;
      %td
        Minimizes adverse immune system response
    %tr
      %td
        %strong Cell and Gene Therapy: 
        administers genetically modified cells to a patient or “engineered immune cells”
      %td
        &rarr;
      %td
        Fine-tunes minimizing side effects, reduce variability, and increase potency for hard-to-treat conditions

=image_tag "synergy-with-cell-and-gene-therapy.png"

%p When taken together, cell and gene therapy with <a href="immune-engineering">immune engineering</a> looks like this:
%ul
  %li Genetically engineered cells
  %li Nanoparticles to control immune cell behavior
  %li Use of donor cells without immuneosuppresion
  %li Strategies to avoid rejection of gene therapies

%h5 Industry Partners

%p Initial partners in Cell and Gene Therapy include:

=image_tag "carisma.png", width: "50%"
=image_tag "interius.png", width: "50%"
=image_tag "janssen.png", width: "50%"
=image_tag "mallinckrodt.png", width: "50%"
