---
title: What is Immune Engineering?
---

%h1= current_resource.data.title

%p 
  %strong Immune Engineering 
  is a set of tools and technologies to modulate the immune system.

%h5 Examples
%ul
  %li Manipulated immune cells as therapeutics (e.g. CAR T cells)
  %li Nanoparticle vaccines (e.g. the Pfizer and Moderna Covid-19 vaccines)
  %li Biomaterials that direct immune cells to behave certain ways upon implantation or injection (e.g. regenerative implants)

%h5 Synergy with Other Fields
=image_tag "synergy-with-other-fields.png", alt: "Synergy Diagram", style: "width: 100%; height: auto;"
%br
%br
%p Immune Engineering has the following application areas: 
%ul
  %li
    = link_to "Cell and Gene Therapy", "cell-and-gene-therapy"
    %span{style: "color: red;"} NEW!
  %li Cancer 
  %li Autoimmune Disease 
  %li Traumatic Injury
  %li Neurogenerative Disease
  %li Infectious Disease
  %li Cardiovascular and Metabolic Disease
